:root{
    --primary-color:#0D0F0E;
    --accent1-color: #f5aa13;
    --accent2-color: #ffffff;
}
body{
    font-family: 'open sans', sans-serif;
    margin: 0;
    padding:0;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}
h1,h2{
    font-family: 'open sans', sans-serif;
    margin: 0;
    color: var(--accent1-color);
}
p{
    color: var(--accent2-color);
}

header{
    /*background-color: var(--secondary-color); */
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid var(--accent1-color);
    max-width: 100%;
}
header img{
    margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
    border-radius: 10%;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}
.navigation li{
    flex: 1 1 auto;
}

.navigation a{
    display: block;
    color: var(--accent2-color);
    padding: 20px;
    text-decoration: none;
}
.navigation a:hover {
	color: var(--accent1-color);
	font-weight: 700;
	text-decoration: underline;
}

.hero{
    position: relative;
}
.hero img{
    display: block;
    width:100%;
    height: auto;
    border-bottom: 1px solid var(--accent1-color);
}
.hero h1{
    position: absolute;
    top: 15%;
    left: 38%;
    color: var(--accent2-color);
    padding: 0.5rem;
    text-align: center;
}
.hero article{
    position: absolute;
    top: 40%;
    left: 5%;
    right: 5%;
    background-color: rgba(0,0,0,0.6);
    color: var(--accent2-color);
    padding: 1rem;

}
.hero article img{
    float: right;
    margin: 1rem;
    width:200px;
    height: auto;
}
section{
    margin: 25px auto;
    text-align: center;
    width: 80%;
}
section h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
section .history-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
}
.history-content img {
    width: 200px;
    height: auto;
    margin: 0 20px;
}
section .contact-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
}

section .adventure-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    gap: 10px;
}
.adventure-content figure figcaption{
    color: var(--accent2-color);
}
form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 20px auto;
    padding: 1rem;
    border: 1px solid rgb(0,0,0 / 0.1);
    border-radius: 8px;
    background-color: transparent;
    box-shadow: 0 0 5px var(--accent1-color);
}
form fieldset {
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 15px;
    border: 1px solid var(--accent1-color);
    border-radius: 5px;
}
legend{
    padding: 1.2rem;
    font-weight: bold;
    color: var(--accent1-color);
}
label, select,button,input,textarea{
    font-family: Times, Arial,sans-serif;
    padding: 3px;
}
label{
    font-size: 1rem;
    font-weight: 500;
    color:var(--accent1-color);
}
input, textarea{
    font-size: 1rem;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
    background-color: transparent;
    color: var(--accent2-color);
}
input[type="checkbox"],input[type="radio"]{
    width: 18px;
    height:18px;
    margin-right: 5px;
}
.radio-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.radio-group, label{
    display: flex;
    margin-left: 5px;
    gap: 5px;
}

button{
    margin:1rem;
    background-color: var(--accent1-color);
    color: #fff;
    border:none;
    border-radius: 5px;
    padding: 12px;
    font-size: 1rem;
}
button:hover{
    background-color: darkorange;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-top: var(--accent1-color);
}
footer p{
    text-align: center;
    width: 70%;
    margin: 0 20px;
}
footer nav{
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}


footer nav a img{
    width:25px;
    height: auto;
}

footer nav a{
    text-decoration: none;
}