:root{
    --nav-head-color:darkblue;
    --border-color: 1px solid black;
    --box-shadow-color:gray;
    --aside-bg-color: #eee;
    --aside-text-color:#333;
    --nav-padding:20px;
    --img-padding:2px;
    --main-img-width:150px;
    --aside-img-width:200px;
    --aside-border-color: 1px solid rgb(0 0 0 / 0.2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: var(--nav-head-color);
    padding: 10px;
}
nav a{
    color: white;
    display: block;
    padding: var(--nav-padding);
}
h1{
    color: var(--nav-head-color);
}
main{
    max-width: 840px;
}

main img {
    width: var(--main-img-width);
    height: auto;
    border: var(--border-color);
    padding: var(--img-padding);
    box-shadow: 0 0 30px var(--box-shadow-color);
    float: right;
}
p{
    padding: 0;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: var(--aside-border-color);
    padding: 1rem;
    position: relative;
    background-color: var(--aside-bg-color);
    color:var(--aside-text-color);
    text-align: center;
}
aside h2{
    position: absolute;
    top: 20px;
    left: 130px;
}
aside img{
    width:var(--aside-img-width);
    height:auto;
}
footer{
    margin-top: 15px;
    border-top: var(--border-color);
    text-align: center;
}

/* Class Selectors Section */
.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
